<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="button.css">
    <title>button</title>
</head>
<body>
    
    <div class="btn-container">
        <h3>Standard Buttons</h3>
        <button class="btn btn-primary">
            Primary
        </button>

        <button class="btn btn-secondary">
            Secondary
        </button>

        <button class="btn btn-success">
            Success
        </button>

        <button class="btn btn-danger">
            Danger
        </button>

        <button class="btn btn-warning">
            Warning
        </button>

        <button class="btn btn-large btn-primary">
            Primary
        </button>
    </div>
    
    <div class="btn-container">
        <h3>Outlined Buttons</h3>
        <button class="btn btn-primary-outlined">
            Primary
        </button>

        <button class="btn btn-secondary-outlined">
            Secondary
        </button>

        <button class="btn btn-success-outlined">
            Success
        </button>

        <button class="btn btn-danger-outlined">
            Danger
        </button>

        <button class="btn btn-warning-outlined">
            Warning
        </button>

        <button class="btn btn-large btn-primary-outlined">
            Primary
        </button>
    </div>

    <div class="btn-container">
        <h3>Icon and Buttons</h3>
        <button class="btn btn-icon">
            <i class="fi fi-rr-shopping-cart"></i>
        </button>
        <button class="btn btn-icon">
            <i class="fi fi-rr-shopping-cart"></i>
            cart
        </button>

        <button class="btn btn-icon">
            👈 Go Back
        </button>
    </div>

<!-- Link Button -->
    <div class="btn-container">
        <h3>Link Button</h3>
        <a href="#">
            <button class="btn btn-link">
                Link
            </button>
        </a>
    </div>    

<!-- Floating Action Button -->

    <div class="btn-container">
        <h3>Floating Action Button</h3>
        <button class="btn btn-fab">
            <i class="fi fi-rr-alarm-clock"></i>
        </button>
    </div>
</body>
</html>
